/*------- Font Family Starts -------*/

@font-face { font-family: "NunitoSans-Light"; src: url("../fonts/NunitoSans-Light.ttf"); }
@font-face { font-family: "NunitoSans-Regular"; src: url("../fonts/NunitoSans-Regular.ttf"); }
@font-face { font-family: "NunitoSans-SemiBold"; src: url("../fonts/NunitoSans-SemiBold.ttf"); }
@font-face { font-family: "NunitoSans-Bold"; src: url("../fonts/NunitoSans-Bold.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.5px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.container-fluid { padding: 50px 30px; }
.section-heading > h2 { color: #00c400; font: 3rem/1.2 "NunitoSans-SemiBold"; margin-bottom: 30px; }
.section-heading > h2 > span { color: #00bcd4; }
p { color: #777777; font: 1.6rem/1.7 "NunitoSans-Regular"; text-align: justify; }
.read-more > a { background: -webkit-linear-gradient(to bottom right, #00c400, #00bcd4); background: -moz-linear-gradient(to bottom right, #00c400, #00bcd4); background: -ms-linear-gradient(to bottom right, #00c400, #00bcd4); background: -o-linear-gradient(to bottom right, #00c400, #00bcd4); background: linear-gradient(to bottom right, #00c400, #00bcd4); -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; color: #ffffff; display: inline-block; font: 1.6rem/1.2 "NunitoSans-Semibold"; padding: 10px 25px; text-align: center; text-transform: uppercase; }
.read-more > a:hover { background: -webkit-linear-gradient(to top left, #00c400, #00bcd4); background: -moz-linear-gradient(to top left, #00c400, #00bcd4); background: -ms-linear-gradient(to top left, #00c400, #00bcd4); background: -o-linear-gradient(to top left, #00c400, #00bcd4); background: linear-gradient(to top left, #00c400, #00bcd4); color: #ffffff; }
.width-auto { width: auto; }

/*------- Common CSS Ends -------*/

/*------- Window Loader Section Starts -------*/

.window-loader-icon { left: 50%; position: absolute; top: 25%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.window-loader-icon > img { display: block; width: 10vw; }
#overlay { background-color: #000000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; -webkit-transition: 1s 0.4s; -moz-transition: 1s 0.4s; -ms-transition: 1s 0.4s; -o-transition: 1s 0.4s; transition: 1s 0.4s; z-index: 14; }
#progress { background-color: #fff; height: 1px; position: absolute; top: 50%; width: 0; }
#progstat { color: #ffffff; font: 2vw/1.2 "NunitoSans-Bold"; left: 50%; letter-spacing: 4px; position: absolute; text-align: center; text-transform: uppercase; top: 75%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; }

/*------- Window Loader Section Ends -------*/

/*------- Whatsapp Icon Section Starts -------*/

.fixed-whatsapp-icon { bottom: 30px; left: 30px; position: fixed; z-index: 13; }
.fixed-whatsapp-icon > a { -webkit-align-items: center; align-items: center; background-color: #00bcd4; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #ffffff; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; font-size: 2.4rem; height: 60px; justify-content: center; width: 60px; }

/*------- Whatsapp Icon Section Ends -------*/

/*------- Home Page Starts -------*/

	/*------- Desktop Logo and Menu Section Starts -------*/

.bg-logo-menu-desktop { background-color: #ffffff; left: 0; padding: 0 30px; position: fixed; top: 0; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; z-index: 11; }
.bg-logo-menu-desktop.active { background-color: #ffffff; }
.header-logo-desktop > a { display: inline-block; }
.header-logo-desktop > a > img { height: 70px; }
.menu-listing-desktop > li { display: inline-block; margin-right: 30px; position: relative; }
.menu-listing-desktop > li:last-child { margin-right: 0; }
.menu-listing-desktop > li > a { color: #000000; display: block; font: 1.6rem/1 "NunitoSans-Semibold"; padding: 42px 0; }
.menu-listing-desktop > li.active > a,
.menu-listing-desktop > li > a:hover { color: #00c400; }
.sub-menu-listing-desktop { background-color: #ffffff; border: 1px solid #cccccc; left: 0; opacity: 0; position: absolute; top: 110%; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: hidden; width: 250px; z-index: 10; }
.menu-listing-desktop > li:hover > a + .sub-menu-listing-desktop { opacity: 1; top: 100%; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: visible; }
.sub-menu-listing-desktop > li { display: block; text-align: left; }
.sub-menu-listing-desktop > li > a,
.sub-sub-menu-listing-desktop > li > a { border-bottom: 1px solid rgb(0 0 0 / 20%); color: #000000; display: block; font: 1.6rem/1 "NunitoSans-Semibold"; padding: 10px 20px; }
.sub-menu-listing-desktop > li:last-child > a { border-bottom: 0; }
.sub-menu-listing-desktop > li > a:hover,
.sub-sub-menu-listing-desktop > li > a:hover { background-color: #eeeeee; }
.sub-sub-menu-listing-desktop { background-color: #ffffff; border: 1px solid #cccccc; left: 248px; opacity: 0; position: absolute; top: 110%; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: hidden; width: 270px; z-index: 10; }
.sub-menu-listing-desktop > li:hover > a + .sub-sub-menu-listing-desktop { opacity: 1; top: 73px; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: visible; }

	/*------- Desktop Logo and Menu Section Ends -------*/

	/*------- Banner Section Starts -------*/

.bg-banner-home { margin-top: 100px; padding: 0; position: relative; z-index: 10; }
.box-banner-info-home { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 50%; z-index: 10; }
.box-banner-desc-home { background-color: rgb(2 196 2 / 40%); padding: 50px; text-align: center; }
.box-banner-desc-home > h2 { color: #000000; font: 3rem/1.2 "NunitoSans-Semibold"; margin-bottom: 15px; }
.box-banner-desc-home > h5,
.box-banner-desc-home > p { color: #333333; font: 1.6rem/1.2 "NunitoSans-Regular"; letter-spacing: 1px; margin-bottom: 10px; }
.box-banner-1-desc-home > h5,
.box-banner-2-desc-home > p:last-of-type,
.box-banner-3-desc-home > h5 { margin-bottom: 20px; }
.box-banner-3-desc-home > h5 { line-height: 1.4; }
.box-banner-desc-home > p { text-align: center; }
.banner-listing-home > li { display: inline-block; margin-right: 15px; }
.banner-listing-home > li:last-child { margin-right: 0; }
.banner-listing-home > li:first-child > a { background-color: #4caf50; border: 2px solid #4caf50; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; color: #ffffff; display: inline-block; font: 1.6rem/1.2 "NunitoSans-Regular"; letter-spacing: 0.5px; padding: 10px 25px; text-align: center; text-transform: uppercase; }
.banner-listing-home > li:last-child > a { background-color: #00ccff; border: 2px solid #00ccff; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; color: #ffffff; display: inline-block; font: 1.6rem/1.2 "NunitoSans-Regular"; letter-spacing: 0.5px; padding: 10px 25px; text-align: center; text-transform: uppercase; }
.banner-listing-home > li > a:hover { background-color: #ffffff; border: 2px solid #ffffff; color: #000000; }
.banner-scroll-down-arrow-home { -webkit-animation: bannerScrollDownArrow 2s infinite; animation: bannerScrollDownArrow 2s infinite; bottom: 0; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 10; }
.banner-scroll-down-arrow-home > a { background-color: transparent; color: #ffffff; display: block; font-size: 2.4rem; height: 70px; line-height: 70px; text-align: center; width: 70px; }
@-webkit-keyframes bannerScrollDownArrow {
	0% { bottom: 30px; opacity: 1; }
	100% { bottom: 0; opacity: 0; }
}
@-moz-keyframes bannerScrollDownArrow {
	0% { bottom: 30px; opacity: 1; }
	100% { bottom: 0; opacity: 0; }
}
@-ms-keyframes bannerScrollDownArrow {
	0% { bottom: 30px; opacity: 1; }
	100% { bottom: 0; opacity: 0; }
}
@-o-keyframes bannerScrollDownArrow {
	0% { bottom: 30px; opacity: 1; }
	100% { bottom: 0; opacity: 0; }
}
@keyframes bannerScrollDownArrow {
	0% { bottom: 30px; opacity: 1; }
	100% { bottom: 0; opacity: 0; }
}
.box-slider-home { position: relative; }
.banner-slick-slider-home .slick-prev,
.banner-slick-slider-home .slick-next { background-color: #ffffff; height: 50px; width: 50px; z-index: 11; }
.banner-slick-slider-home .slick-prev { left: 0; }
.banner-slick-slider-home .slick-next { right: 0; }
.banner-slick-slider-home .slick-prev::before,
.banner-slick-slider-home .slick-next::before {
	color: #272727;
	content: "\f053";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
}
.banner-slick-slider-home .slick-next::before {
	content: "\f054";
}
.banner-slick-slider-home.slick-initialized .slick-slide { margin-bottom: -5px; }
.banner-slick-slider-home .slick-slide img { height: calc(100vh - 99px); object-fit: cover; width: 100%; }

	/*------- Banner Section Ends -------*/

	/*------- About Info Section Starts -------*/

.bg-about-info-home { padding: 50px 15px; }
.about-heading-home > h2 { color: #719430; font: 3rem/1.3 "NunitoSans-Semibold"; margin-bottom: 30px; }
.person-profile-home > img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 140px; object-fit: cover; width: 140px; }

	/*------- About Info Section Ends -------*/

	/*------- About Us Section Starts -------*/

.bg-about-home { padding: 15px 0 0 0; position: relative; }
.bg-about-home > span:first-child,
.bg-about-home > span:nth-child(2),
.bg-about-home > span:nth-child(3),
.bg-about-home > span:nth-child(4) {
	background-color: #719430;
	height: 15px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25%;
	z-index: 11;
}
.bg-about-home > span:nth-child(2) { background-color: #92bb46; left: 25%; }
.bg-about-home > span:nth-child(3) { background-color: #acd464; left: 50%; }
.bg-about-home > span:nth-child(4) { background-color: #e1fbb2; left: 75%; }
.bg-about-home > .row { margin: 0; }
.bg-about-home > .row > [class*="col-"] { padding: 0; }
.about-info-home { padding: 70px; }
.about-info-home > h4 { color: #719430; font: 1.8rem/1.8 "NunitoSans-Regular"; margin-bottom: 15px; }
.about-info-home > h5 { color: #000000; font: 1.6rem/1.3 "NunitoSans-Semibold"; margin-bottom: 30px; text-shadow: 2px 2px 1px #000000; }
.about-us-listing-home { margin-bottom: 50px; padding-left: 20px; }
.about-us-listing-home > li { color: #000000; font: 1.6rem/1.4 "NunitoSans-Regular"; list-style-type: decimal; margin-bottom: 10px; }
.about-image-home > img { width: 100%; }

	/*------- About Us Section Ends -------*/

	/*------- Gallery Section Starts -------*/

.bg-gallery-home { background-color: #719430; padding: 0; }
.bg-gallery-home > .row { margin: 0; }
.gallery-heding-home > h2 { background-color: #92bb46; color: #ffffff; font: 3rem/1.2 "NunitoSans-Regular"; padding: 50px 100px; text-align: center; }
.bg-gallery-display-home { background-color: #92bb46; padding: 20px; }
.gallery-image-info-home { position: relative; z-index: 10; }
.gallery-image-home { overflow: hidden; position: relative; z-index: 10; }
.gallery-image-home::after {
	background-color: #000000;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.gallery-image-home > img { -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.gallery-image-home:hover > img { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }
.gallery-info-home { left: 50%; position: absolute; text-align: center; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; z-index: 10; }
.gallery-info-home > h3 { color: #ffffff; font: 2.4rem/1.2 "NunitoSans-Semibold"; }

	/*------- Gallery Section Ends -------*/

	/*------- Services Section Starts -------*/

.bg-services-home { background: url("../images/bg-services.jpg") no-repeat bottom right/auto; }
.services-icon-home { border: 1px solid #e1e1e1; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 70px; text-align: center; width: 70px; }
.services-icon-home > i { color: #777777; font-size: 1.6rem; line-height: 70px; }
.services-info-home { margin-bottom: 30px; }
.services-info-home > h3 { color: #000000; font: 2.4rem/1.2 "NunitoSans-SemiBold"; margin-bottom: 15px; }

	/*------- Services Section Ends -------*/

	/*------- Program Section Starts -------*/

.bg-program-home { background-color: #f7f7f7; padding: 0; }
.bg-program-home > .row { margin: 0; }
.bg-program-home > .row > [class*="col"] { padding: 0; }
.box-program-info-home { padding: 50px 100px; }

	/*------- Program Section Ends -------*/

	/*------- Profile Section Starts -------*/

/* .bg-profile-home { background: url("../images/bg-profile.jpg") no-repeat fixed top/cover; position: relative; z-index: 10; }
.bg-profile-home::before {
	background-color: #000000;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.box-profile-info-home > img { margin: 0 auto 30px; }
.box-profile-info-home > h2 { color: #ffffff; font: 3rem/1.2 "NunitoSans-Regular"; margin-bottom: 30px; }
.box-profile-info-home > h2 > span { color: #92bb46; }
.box-profile-info-home > p { color: #ffffff; margin-bottom: 50px; } */

	/*------- Profile Section Ends -------*/

	/*------- Testimonial Slider Section Starts -------*/

.bg-testimonial-slider-home { background: url("../images/bg-testimonial.jpg") no-repeat top/cover; position: relative; z-index: 1; }
.bg-testimonial-slider-home::before {
	background-color: #000000b7;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.testimonials-slick-slider-home .slick-slide { padding: 0 30px; }
.box-testimonial-desc-home > p {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	color: #ffffff;
	margin-bottom: 50px;
	padding: 30px;
	position: relative;
	text-align: left;
}
.box-testimonial-desc-home > p::after {
	background-color: #ffffff;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 50%;
}
.box-testimonial-profile-info-home { position: relative; }
.box-testimonial-profile-info-home::before {
	background-color: #ffffff;
	content: "";
	display: block;
	height: 20px;
	left: 50%;
	position: absolute;
	top: -50px;
	width: 1px;
}
.box-testimonial-profile-info-home::after {
	background-color: #ffffff;
	content: "";
	display: block;
	height: 40px;
	left: 50%;
	position: absolute;
	top: -70px;
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	transform-origin: 100% 100% 0;
	width: 2px;
}
.box-testimonial-profile-info-home > img {
	height: 70px;
	margin: 0 auto 15px;
}
.box-testimonial-profile-info-home > h4 { color: #ffffff; font: 2.4rem/1 "NunitoSans-SemiBold"; margin-bottom: 5px; }
.box-testimonial-profile-info-home > p { color: #f7f7f7; text-align: center; }

		/*------- Slick Slider Dots CSS Starts -------*/

.testimonials-slick-slider-home .slick-dots { bottom: -40px; }
.testimonials-slick-slider-home .slick-dots li { cursor: pointer; display: inline-block; height: auto; margin: 0 5px; padding: 0; position: relative; width: auto; }
.testimonials-slick-slider-home .slick-dots li button { background-color: #658529; height: 12px; line-height: 12px; margin: 0; opacity: 0.5; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -ms-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear; width: 12px; }
.testimonials-slick-slider-home .slick-dots li.slick-active button { opacity: 1; width: 27px; }
.testimonials-slick-slider-home .slick-dots li button::before { content: ""; }

		/*------- Slick Slider Dots CSS Ends -------*/

	/*------- Testimonial Slider Section Ends -------*/

	/*------- Footer Section Starts -------*/

.bg-footer { background-color: #658529; }
.footer-heading > h4 { color: #ffffff; font: 1.8rem/1.2 "NunitoSans-Bold"; margin-bottom: 30px; text-transform: uppercase; }
.footer-location-info > p { color: #ffffff; font-family: "NunitoSans-Light"; padding-right: 30px; }
.footer-location-info > p > span { font-family: "NunitoSans-Semibold"; }
.footer-contact-info > p { color: #ffffff; margin-bottom: 15px; }
.footer-contact-info > p > span:nth-child(2) { font-style: italic; }
.footer-contact-info > p > span { display: block; }
.footer-contact-info > p > span > a { color: #ffffff; }
.footer-contact-info > p > span > a:hover { color: #000000; }
.footer-customer-service-info > p { color: #ffffff; font-family: "NunitoSans-Semibold"; margin-bottom: 10px; }
.footer-customer-service-info > p:last-child { font-family: "NunitoSans-Light"; line-height: 1.4; padding-right: 30px; }
.footer-menu-listing > li { display: block; margin-bottom: 15px; }
.footer-menu-listing > li:last-child { margin-bottom: 0; }
.footer-menu-listing > li > a { color: #ffffff; font: 1.6rem/1.2 "NunitoSans-Light"; }
.footer-menu-listing > li > a:hover { color: #000000; }

	/*------- Footer Section Ends -------*/

	/*------- Copyright Section Starts -------*/

.bg-copyright { background-color: #425719; padding: 15px 30px; }
.copyright-info { color: #ffffff; }
.copyright-info > a { color: #cddc37; }
.footer-social-listing { text-align: right; }
.footer-social-listing > li { display: inline-block; margin-right: 15px; }
.footer-social-listing > li:last-child { margin-right: 0; }
.footer-social-listing > li > a { border: 1px solid #ffffff; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #ffffff; display: block; font-size: 1.4rem; height: 40px; line-height: 40px; text-align: center; width: 40px; }
.footer-social-listing > li > a:hover { background-color: #ffffff; color: #000000; }

	/*------- Copyright Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- Blog Page Starts -------*/

	/*------- Blogs Information Section Starts -------*/

.bg-blog-info-bip { padding: 50px 15px; }
.blog-info-bip > h2 { color: #719430; font: 3rem/1.3 "NunitoSans-SemiBold"; margin-bottom: 15px; }
.blog-info-bip > p { margin-bottom: 30px; }
.blog-info-bip > p > span { color: #719430; font-family: "NunitoSans-Semibold"; }
.blog-social-listing-bp { margin-bottom: 30px; }
.blog-social-listing-bp > li { display: inline-block; margin-right: 15px; }
.blog-social-listing-bp > li:last-child { margin-right: 0; }
.blog-social-listing-bp > li > a { border: 1px solid #777777; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #777777; display: block; height: 40px; line-height: 40px; text-align: center; width: 40px; }
.blog-social-listing-bp > li > a:hover { background-color: #777777; color: #ffffff; }
.blog-info-bip > img { margin-bottom: 30px; width: 100%; }
.blog-details-info-bp > h4 { color: #719430; font: 1.8rem/1.2 "NunitoSans-Semibold"; margin-bottom: 30px; }
.blog-details-info-bp > p { margin-bottom: 30px; }

	/*------- Blogs Information Section Ends -------*/

/*------- Blog Page Ends -------*/